.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    display: flex;
   gap: 20px;
   cursor: pointer;
}
.logo svg{
    font-size: 22px;

}
